<!DOCTYPE html>
<html>
<head>
  <title>Ajax_CRUD</title>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen, projection' %>
  <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
  <!--[if lt IE 8]>
    <%= stylesheet_link_tag 'blueprint/ie', :media => 'screen, projection' %>
  <![endif]-->

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "jquery.qtip.min" %>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery.qtip.min" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <div id="flash_notice" style="display:none"></div>
    <%= content_tag :h1, yield(:title) if show_title? %>
    <%= yield %>
  </div>
</body>
</html>
